/* Button */
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    height: 3.25rem;
    line-height: 3.25rem;
    padding: 0 1.75rem;
    text-align: center;
    text-decoration: none;
    white-space: nowrap; }
input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
button.small,
.button.small {
    font-size: 0.8rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    padding: 0 1.25rem; }
input[type="submit"].large,
input[type="reset"].large,
input[type="button"].large,
button.large,
.button.large {
    font-size: 1.35rem;
    height: 4.0625rem;
    line-height: 4.0625rem;
    padding: 0 2rem; }
input[type="submit"].wide,
input[type="reset"].wide,
input[type="button"].wide,
button.wide,
.button.wide {
    min-width: 13rem; }
input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
button.icon:before,
.button.icon:before {
    margin-right: 0.5rem; }
input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
button.fit,
.button.fit {
    width: 100%; }
input[type="submit"].disabled, input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
    pointer-events: none;
    opacity: 0.25; }

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px #555555;
    color: #555555 !important; }
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
    box-shadow: inset 0 0 0 1px #ce1b28;
    color: #ce1b28 !important; }
input[type="submit"]:hover:active,
input[type="reset"]:hover:active,
input[type="button"]:hover:active,
button:hover:active,
.button:hover:active {
    background-color: rgba(206, 27, 40, 0.25); }
input[type="submit"].primary,
input[type="reset"].primary,
input[type="button"].primary,
button.primary,
.button.primary {
    box-shadow: none;
    background-color: #ce1b28;
    color: #ffffff !important; }
input[type="submit"].primary:hover,
input[type="reset"].primary:hover,
input[type="button"].primary:hover,
button.primary:hover,
.button.primary:hover {
    background-color: #e2212f;
    box-shadow: none; }
input[type="submit"].primary:hover:active,
input[type="reset"].primary:hover:active,
input[type="button"].primary:hover:active,
button.primary:hover:active,
.button.primary:hover:active {
    background-color: #b71824; }

/* Form */
form {
    margin: 0 0 2rem 0; }

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border-radius: 4px;
    border: none;
    border: solid 1px;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1rem;
    text-decoration: none;
    width: 100%; }
input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
input[type="tel"]:invalid,
input[type="search"]:invalid,
input[type="url"]:invalid,
select:invalid,
textarea:invalid {
    box-shadow: none; }

label {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    margin: 0 0 1rem 0; }

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"] {
    height: 3.25rem; }

select {
    background-size: 1.25rem;
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem) center;
    height: 3.25rem;
    padding-right: 3.25rem;
    text-overflow: ellipsis; }
select:focus::-ms-value {
    background-color: transparent; }
select::-ms-expand {
    display: none; }

textarea {
    padding: 0.75rem 1rem; }

input[type="checkbox"],
input[type="radio"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: block;
    float: left;
    margin-right: -2rem;
    opacity: 0;
    width: 1rem;
    z-index: -1; }
input[type="checkbox"] + label,
input[type="radio"] + label {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    padding-left: 2.825rem;
    padding-right: 0.875rem;
    position: relative; }
input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important; }
input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
    border-radius: 4px;
    border: solid 1px;
    content: '';
    display: inline-block;
    height: 1.95rem;
    left: 0;
    line-height: 1.86875rem;
    position: absolute;
    text-align: center;
    top: -0.1625rem;
    width: 1.95rem; }
input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
    content: '\f00c'; }

input[type="checkbox"] + label:before {
    border-radius: 4px; }

input[type="radio"] + label:before {
    border-radius: 100%; }

::-webkit-input-placeholder {
    opacity: 1.0; }

:-moz-placeholder {
    opacity: 1.0; }

::-moz-placeholder {
    opacity: 1.0; }

:-ms-input-placeholder {
    opacity: 1.0; }

label {
    color: #555555; }

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select,
textarea {
    background-color: rgba(0, 0, 0, 0.075);
    border-color: rgba(0, 0, 0, 0.25); }
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus {
    border-color: #ce1b28;
    box-shadow: 0 0 0 1px #ce1b28; }

select {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(0, 0, 0, 0.25)' /%3E%3C/svg%3E"); }
select option {
    color: #444444;
    background-color: #ffffff; }

input[type="checkbox"] + label,
input[type="radio"] + label {
    color: #444444; }
input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
    background: rgba(0, 0, 0, 0.075);
    border-color: rgba(0, 0, 0, 0.25); }
input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
    background-color: #ce1b28;
    border-color: #ce1b28;
    color: #ffffff; }
input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
    border-color: #ce1b28;
    box-shadow: 0 0 0 1px #ce1b28; }

::-webkit-input-placeholder {
    color: #bbbbbb !important; }

:-moz-placeholder {
    color: #bbbbbb !important; }

::-moz-placeholder {
    color: #bbbbbb !important; }

:-ms-input-placeholder {
    color: #bbbbbb !important; }

#header {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    background: #111111;
    color: rgba(255, 255, 255, 0.5);
    cursor: default;
    height: 3.25rem;
    left: 0;
    line-height: 3.25rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10001; }
#header > .logo {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    height: inherit;
    line-height: inherit;
    padding: 0 1.25rem;
    text-decoration: none; }
#header > nav > a {
    color: inherit;
    display: inline-block;
    padding: 0 0.75rem;
    text-decoration: none; }
#header > nav > a:hover {
    color: #ffffff; }
#header > nav > a[href="#menu"] {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
#header > nav > a[href="#menu"]:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important; }
#header > nav > a[href="#menu"]:before {
    content: '\f0c9';
    margin: 0 0.5rem 0 0; }
#header > nav > a + a[href="#menu"]:last-child {
    border-left: solid 1px rgba(255, 255, 255, 0.25);
    margin-left: 0.5rem;
    padding-left: 1.25rem; }
#header > nav > a:last-child {
    padding-right: 1.25rem; }
@media screen and (max-width: 736px) {
    #header > nav > a {
        padding: 0 0.5rem; }
    #header > nav > a + a[href="#menu"]:last-child {
        margin-left: 0.25rem;
        padding-left: 1rem; }
    #header > nav > a:last-child {
        padding-right: 1rem; } }
.tlinks {text-indent: -9999px;height: 0;line-height: 0;font-size: 0;overflow: hidden;}
@media screen and (max-width: 980px) {
    body {
        padding-top: 44px; }

    #header {
        height: 44px;
        line-height: 44px; } }
@media screen and (max-width: 480px) {
    #header {
        min-width: 320px; } }

/* Menu */
#menu {
    background-color: #111111;
    color: rgba(255, 255, 255, 0.5);
    -moz-transform: translateX(20rem);
    -webkit-transform: translateX(20rem);
    -ms-transform: translateX(20rem);
    transform: translateX(20rem);
    -moz-transition: -moz-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
    -webkit-transition: -webkit-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
    -ms-transition: -ms-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
    transition: transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
    -webkit-overflow-scrolling: touch;
    box-shadow: none;
    height: 100%;
    max-width: 80%;
    overflow-y: auto;
    padding: 3rem 2rem;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    width: 20rem;
    z-index: 10002; }
#menu input, #menu select, #menu textarea {
    color: #ffffff; }
#menu a {
    color: #ce1b28; }
#menu strong, #menu b {
    color: #ffffff; }
#menu h1, #menu h2, #menu h3, #menu h4, #menu h5, #menu h6 {
    color: #ffffff; }
#menu blockquote {
    border-left-color: rgba(255, 255, 255, 0.25); }
#menu code {
    background: rgba(255, 255, 255, 0.075);
    border-color: rgba(255, 255, 255, 0.25); }
#menu hr {
    border-bottom-color: rgba(255, 255, 255, 0.25); }
#menu input[type="submit"],
#menu input[type="reset"],
#menu input[type="button"],
#menu button,
#menu .button {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px #ffffff;
    color: #ffffff !important; }
#menu input[type="submit"]:hover,
#menu input[type="reset"]:hover,
#menu input[type="button"]:hover,
#menu button:hover,
#menu .button:hover {
    box-shadow: inset 0 0 0 1px #ce1b28;
    color: #ce1b28 !important; }
#menu input[type="submit"]:hover:active,
#menu input[type="reset"]:hover:active,
#menu input[type="button"]:hover:active,
#menu button:hover:active,
#menu .button:hover:active {
    background-color: rgba(206, 27, 40, 0.25); }
#menu input[type="submit"].primary,
#menu input[type="reset"].primary,
#menu input[type="button"].primary,
#menu button.primary,
#menu .button.primary {
    box-shadow: none;
    background-color: #ce1b28;
    color: #ffffff !important; }
#menu input[type="submit"].primary:hover,
#menu input[type="reset"].primary:hover,
#menu input[type="button"].primary:hover,
#menu button.primary:hover,
#menu .button.primary:hover {
    background-color: #e2212f;
    box-shadow: none; }
#menu input[type="submit"].primary:hover:active,
#menu input[type="reset"].primary:hover:active,
#menu input[type="button"].primary:hover:active,
#menu button.primary:hover:active,
#menu .button.primary:hover:active {
    background-color: #b71824; }
#menu > ul {
    margin: 0 0 1rem 0; }
#menu > ul.links {
    list-style: none;
    padding: 0; }
#menu > ul.links > li {
    padding: 0; }
#menu > ul.links > li > a {
    border: 0;
    border-top: solid 1px rgba(255, 255, 255, 0.25);
    color: inherit;
    display: block;
    line-height: 3.5rem;
    text-decoration: none; }
#menu > ul.links > li > a:hover {
    color: #ffffff; }
#menu > ul.links > li:first-child > a {
    border-top: 0; }
#menu .close {
    text-decoration: none;
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border: 0;
    color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    display: block;
    height: 3.25rem;
    line-height: 3.25rem;
    padding-right: 1.25rem;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    vertical-align: middle;
    width: 7rem; }
#menu .close:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important; }
#menu .close:before {
    content: '\f00d';
    font-size: 1.25rem; }
#menu .close:hover {
    color: #ffffff; }
@media screen and (max-width: 736px) {
    #menu .close {
        height: 4rem;
        line-height: 4rem; } }
@media screen and (max-width: 736px) {
    #menu {
        padding: 2.5rem 1.75rem; } }

div.is-menu-visible #menu {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.2);
    visibility: visible; }

/* Banner */
#banner {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    background-color: #111111;
    color: rgba(255, 255, 255, 0.5);
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    background-image: url("../img/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 0;
    display: -ms-flexbox;
    height: 35rem !important;
    min-height: 35rem;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%; }
#banner input, #banner select, #banner textarea {
    color: #ffffff; }
#banner a {
    color: #ce1b28; }
#banner strong, #banner b {
    color: #ffffff; }
#banner h1, #banner h2, #banner h3, #banner h4, #banner h5, #banner h6 {
    color: #ffffff; }
#banner blockquote {
    border-left-color: rgba(255, 255, 255, 0.25); }
#banner code {
    background: rgba(255, 255, 255, 0.075);
    border-color: rgba(255, 255, 255, 0.25); }
#banner hr {
    border-bottom-color: rgba(255, 255, 255, 0.25); }
#banner input[type="submit"],
#banner input[type="reset"],
#banner input[type="button"],
#banner button,
#banner .button {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px #ffffff;
    color: #ffffff !important; }
#banner input[type="submit"]:hover,
#banner input[type="reset"]:hover,
#banner input[type="button"]:hover,
#banner button:hover,
#banner .button:hover {
    box-shadow: inset 0 0 0 1px #ce1b28;
    color: #ce1b28 !important; }
#banner input[type="submit"]:hover:active,
#banner input[type="reset"]:hover:active,
#banner input[type="button"]:hover:active,
#banner button:hover:active,
#banner .button:hover:active {
    background-color: rgba(206, 27, 40, 0.25); }
#banner input[type="submit"].primary,
#banner input[type="reset"].primary,
#banner input[type="button"].primary,
#banner button.primary,
#banner .button.primary {
    box-shadow: none;
    background-color: #ce1b28;
    color: #ffffff !important; }
#banner input[type="submit"].primary:hover,
#banner input[type="reset"].primary:hover,
#banner input[type="button"].primary:hover,
#banner button.primary:hover,
#banner .button.primary:hover {
    background-color: #e2212f;
    box-shadow: none; }
#banner input[type="submit"].primary:hover:active,
#banner input[type="reset"].primary:hover:active,
#banner input[type="button"].primary:hover:active,
#banner button.primary:hover:active,
#banner .button.primary:hover:active {
    background-color: #b71824; }
#banner label {
    color: #ffffff; }
#banner input[type="text"],
#banner input[type="password"],
#banner input[type="email"],
#banner input[type="tel"],
#banner input[type="search"],
#banner input[type="url"],
#banner select,
#banner textarea {
    background-color: rgba(255, 255, 255, 0.075);
    border-color: rgba(255, 255, 255, 0.25); }
#banner input[type="text"]:focus,
#banner input[type="password"]:focus,
#banner input[type="email"]:focus,
#banner input[type="tel"]:focus,
#banner input[type="search"]:focus,
#banner input[type="url"]:focus,
#banner select:focus,
#banner textarea:focus {
    border-color: #ce1b28;
    box-shadow: 0 0 0 1px #ce1b28; }
#banner select {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(255, 255, 255, 0.25)' /%3E%3C/svg%3E"); }
#banner select option {
    color: rgba(255, 255, 255, 0.5);
    background-color: #111111; }
#banner input[type="checkbox"] + label,
#banner input[type="radio"] + label {
    color: rgba(255, 255, 255, 0.5); }
#banner input[type="checkbox"] + label:before,
#banner input[type="radio"] + label:before {
    background: rgba(255, 255, 255, 0.075);
    border-color: rgba(255, 255, 255, 0.25); }
#banner input[type="checkbox"]:checked + label:before,
#banner input[type="radio"]:checked + label:before {
    background-color: #ce1b28;
    border-color: #ce1b28;
    color: #ffffff; }
#banner input[type="checkbox"]:focus + label:before,
#banner input[type="radio"]:focus + label:before {
    border-color: #ce1b28;
    box-shadow: 0 0 0 1px #ce1b28; }
#banner ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.4) !important; }
#banner :-moz-placeholder {
    color: rgba(255, 255, 255, 0.4) !important; }
#banner ::-moz-placeholder {
    color: rgba(255, 255, 255, 0.4) !important; }
#banner :-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.4) !important; }
#banner ul.alt li {
    border-top-color: rgba(255, 255, 255, 0.25); }
#banner table tbody tr {
    border-color: rgba(255, 255, 255, 0.25); }
#banner table tbody tr:nth-child(2n + 1) {
    background-color: rgba(255, 255, 255, 0.075); }
#banner table th {
    color: #ffffff; }
#banner table thead {
    border-bottom-color: rgba(255, 255, 255, 0.25); }
#banner table tfoot {
    border-top-color: rgba(255, 255, 255, 0.25); }
#banner table.alt tbody tr td {
    border-color: rgba(255, 255, 255, 0.25); }
#banner .highlights .content {
    background: #111111;
    box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.025); }
#banner .testimonials .content {
    background: #111111;
    box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.025); }
#banner .testimonials .content .credit strong {
    color: #ce1b28; }
#banner > .inner {
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
    -moz-transition: opacity 1s ease, -moz-transform 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -ms-transition: opacity 1s ease, -ms-transform 1s ease;
    transition: opacity 1s ease, transform 1s ease;
    opacity: 1;
    position: relative;
    z-index: 3; }
#banner > .inner > :last-child {
    margin-bottom: 0; }
#banner h1 {
    font-size: 4rem;
    margin-bottom: 1rem; }
#banner p {
    font-size: 1.5rem; }
#banner a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none; }
#banner a:hover {
    color: #ffffff; }
#banner video {
    -moz-transform: translateX(50%) translateY(50%);
    -webkit-transform: translateX(50%) translateY(50%);
    -ms-transform: translateX(50%) translateY(50%);
    transform: translateX(50%) translateY(50%);
    bottom: 50%;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    position: absolute;
    right: 50%;
    width: auto; }
#banner:before {
    -moz-transition: opacity 3s ease;
    -webkit-transition: opacity 3s ease;
    -ms-transition: opacity 3s ease;
    transition: opacity 3s ease;
    -moz-transition-delay: 1.25s;
    -webkit-transition-delay: 1.25s;
    -ms-transition-delay: 1.25s;
    transition-delay: 1.25s;
    background: #111111;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.45;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1; }
#banner:after {
    background: linear-gradient(135deg, #ce1b28 0%, #111111 74%);
    content: ' ';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    webkit-linear-gradientidth: 100%;
    width: 100%;
    z-index: 1; }
#banner.small {
    height: 30vh !important;
    min-height: 30vh; }
@media screen and (max-width: 1280px) {
    #banner video {
        display: none; } }
@media screen and (max-width: 736px) {
    #banner {
        height: auto !important;
        min-height: 0;
        padding: 4rem 2rem 4rem 2rem; }
    #banner .inner {
        width: 100%; }
    #banner h1 {
        font-size: 1.75rem;
        margin-bottom: 0.5rem;
        padding-bottom: 0; }
    #banner p {
        font-size: 1.25rem; }
    #banner br {
        display: none; }
    #banner .button {
        width: 100%; } }
@media screen and (max-width: 480px) {
    #banner p {
        font-size: 1rem; } }
body.is-preload #banner .inner {
    -moz-transform: scale(0.99);
    -webkit-transform: scale(0.99);
    -ms-transform: scale(0.99);
    transform: scale(0.99);
    opacity: 0; }
body.is-preload #banner:before {
    opacity: 1; }

/* Icon */
.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative; }
.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important; }
.icon > .label {
    display: none; }

/* Table */
.table-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto; }

table {
    margin: 0 0 2rem 0;
    border-collapse: collapse;
    text-align: left;
    width: 100%; }
table tbody tr {
    border: solid 1px;
    border-left: 0;
    border-right: 0; }
table td {
    padding: 0.75rem 0.75rem; }
table th {
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0 0.75rem 0.75rem 0.75rem;
    text-align: left; }
table thead {
    border-bottom: solid 2px; }
table tfoot {
    border-top: solid 2px; }
table.alt {
    border-collapse: separate; }
table.alt tbody tr td {
    border: solid 1px;
    border-left-width: 0;
    border-top-width: 0; }
table.alt tbody tr td:first-child {
    border-left-width: 1px; }
table.alt tbody tr:first-child td {
    border-top-width: 1px; }
table.alt thead {
    border-bottom: 0; }
table.alt tfoot {
    border-top: 0; }

table tbody tr {
    border-color: rgba(0, 0, 0, 0.25); }
table tbody tr:nth-child(n):hover{background-color: #ce1b28; color:white; cursor: pointer;}
table tbody tr:nth-child(2n + 1) {
    background-color: rgba(0, 0, 0, 0.075); }
table th {
    color: #555555; }
table thead {
    border-bottom-color: rgba(0, 0, 0, 0.25); }
table tfoot {
    border-top-color: rgba(0, 0, 0, 0.25); }
table.alt tbody tr td {
    border-color: rgba(0, 0, 0, 0.25); }